src/main/mule/datadn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e5394883-cee6-4cc5-acfd-6674b905c50d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="datadnFlow" doc:id="b0c7b805-5de6-4edf-a648-67b0162a893c" >
		<http:listener doc:name="Listener" doc:id="39fc2c14-c10e-4b06-8db0-aa98243c753b" config-ref="HTTP_Listener_config" path="/new"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf1cf95c-ab4f-4d2f-8067-05449835cf38" message="deployed successfully" category="splunk.logger"/>
		<set-payload value="#['deployed on onprem']" doc:name="Set Payload" doc:id="c9959bd8-c817-4ef4-a9ec-bee3bfcea9e7" />
	</flow>
</mule>
